html {
    height: 100%;
}

body {
    background: url("https://images.unsplash.com/photo-1509606674268-3c9117451da1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    background-position: center;
    background-repeat: no-repeat;
    font-family: Lato, Arial, serif;
    color: white;
}

#content {
    padding-top: 15%;
    margin: auto;
    text-align: center;
    text-shadow: 0px 4px 15px black;
}

.icons, .icons:hover {
    color: #575d66;
    text-decoration: none;
}

hr {
    color: white;
    width: 50%;
    text-shadow: 1px 1px 5px black;
    border-top: 1px solid #eee;
}

.btn-default {
    color: black;
    background: #eeeeee;
}

img {
    margin-right: 5px;
    width: 25%;
    height: auto;
}

::selection {
    background: #2e3138;
    color: white;
}

::-moz-selection {
    background: #2e3138;
    color: white;
}

li {
    margin-right: 0.5rem;
}