.form-control {
    width: 50%;
    margin: auto;
}

.form-group {
    margin: auto;
    padding: 0.5rem;
}

.btn-primary {
    color: black;
    background: white;
    border: 1px white solid;
}

.btn-primary:hover {
    color: black;
    background: #b5becc;
    border: 1px #b5becc solid;
}