html {
    width: 100%;
}
body {
    font-family: Lato, Arial, serif;

}

a, a:hover {
    text-decoration: none;
    border: none;
}

#content {
    text-align: center;
    margin-left: 10rem;

}

.row {
    display: flex;
}

.scene {
    flex: 50%;
    padding: 10px;
}

.checkout {
    padding-left: 30%;
    margin-top: 5%;
    text-align: left;
    font-family: 'Thasadith', sans-serif;
}

h3 {
    font-weight: bold;
    color: #5a7196;
}

h6 {
    font-size: 0.8rem;
    color: #6b6e72;
    font-style: italic;
}

.seat-button {
    border: none;
    background: #bec8d8;
    padding: 0.5rem;
    font-family: Consolas, monospace;
}

.reserved {
    color: white;
    background: #495d7c;
}

.seat-button:disabled {
    color: white;
    background: #6b6e72;
    cursor: not-allowed;
}

hr {
    color: #8190a8;
    width: 100%;
    text-shadow: 1px 1px 5px black;
    border-top: 6px solid #8190a8;
}

.btn-primary {
    width: 100%;
    background: #b8c3d6;
    border: 1px solid #96a3ba;
}

.btn-primary:hover, .btn-primary:focus {
    background: #96a3ba;
    border: 1px solid #96a3ba;
}

.btn-primary:disabled {
    color: white;
    background: #96a3ba;
    border: 1px solid #96a3ba;
    cursor: not-allowed;
}

.icons, .icons:hover {
    color: #eeeeee;
    text-decoration: none;
}

#dropdownMenuButton {
    width: 100%;
    color: #2e3138;
    background: #eeeeee;
    border: 1px solid #96a3ba;
}

.dropdown-menu {
    width: 100%;
    text-align: center;
}

.checkout-element {
    display: flex;
    margin-right: 5px;
    margin-top: 5px;
}