html {
    height: 100%;
}

body {
    background: white;
    font-family: Lato, Arial, serif;
    color: black;
}

#content {
    padding-top: 5%;
    margin: auto;
    text-align: center;
}

.icons, .icons:hover {
    color: #eeeeee;
    text-decoration: none;
}

.btn-secondary {
    width: 50%;
    color: #eeeeee;
    background: black;
}

.btn-secondary:hover {
    width: 50%;
    color: #eeeeee;
    background: #2e3138;
}

h6 {
    padding: 2%;
    font-size: 0.7rem;
}