<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Seat Chart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <link type="text/css" href="/css/seatChart.css" rel="stylesheet"/>
    <script type="text/javascript" src='/js/reservationHandler.js'></script>
    <script type="text/javascript" src='/js/loginHandler.js'></script>
</head>
<body>

<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Seat Reservation System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <li><a href="/" class="icons"><i class="fas fa-home"></i> Home</a></li>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:confirmLogOut()" class="icons"><i class="fas fa-user"></i> Log out</a></li>
        </ul>

    </div>
</nav>
<div class="container">
    <div class="col-lg-12">

        <div class="row">
            <div id="content">
                <div class="scene">
                    <h2>SCENE</h2>
                    <hr>
                    <tr th:each="seat : ${seats}">
                        <button
                                th:id="${seat.id}"
                                onclick="addReserved(id)"
                                class="seat-button"
                                th:disabled="${seat.reserved}"
                                th:classappend="${seat.toBeReserved} ? reserved : null"
                                th:text="${seat.seatNumber}"></button>
                        <p th:if="${seat.id % 5 == 0}"></p>

                    </tr>

                </div>

            </div>
            <div class="checkout">
                <h3>CHECKOUT</h3>
                <hr>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose date...
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <th:block th:each="play : ${plays}">
                            <a th:id="${play.id}" th:text="${play.date}" class="dropdown-item"
                               href="javascript:popUp()">dates</a>
                        </th:block>
                    </div>
                </div>

                <div class="checkout-element"><h5>Play title: </h5>
                    <h5 th:text="${plays[0].title}">play name</h5></div>

                <div class="checkout-element"><h5>Chosen seats: </h5>
                    <h5 th:text="${seatsAmount}">seats amount </h5></div>
                <div class="checkout-element">
                    <h5>Price: </h5>
                    <h5 th:text="${priceTotal}">total</h5></div>
                <button
                        type="button"
                        class="btn btn-primary"
                        th:disabled="${seatsAmount eq 0}"
                        onclick="reservationSuccess()">Make reservation
                </button>

            </div>
        </div>
        <hr>
        <button
                class="seat-button"
        >A0
        </button>
        Seat available

        <button
                class="seat-button reserved"
                disabled>A0
        </button>
        Seat unavailable

        <button
                class="seat-button reserved"
        >A0
        </button>
        Seat reserved


    </div>
</div>
</body>
</html>