<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Play Info</title>
</head>
<body>

<tr th:each="play : ${plays}">
    <td th:text="${play.title}"></td>
    <td th:text="${play.date}"></td>
</tr>
</body>
</html>