<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reservation Successful!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <link type="text/css" href="/css/success.css" rel="stylesheet"/>
    <script type="text/javascript" src='/js/paymentHandler.js'></script>
    <script type="text/javascript" src='/js/loginHandler.js'></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Seat Reservation System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <li><a href="/" class="icons"><i class="fas fa-home"></i> Home</a></li>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:confirmLogOut()" class="icons"><i class="fas fa-user"></i> Log out</a></li>
        </ul>

    </div>
</nav>
<div class="container">
    <div class="col-lg-12">

        <div id="content">
            <h1>Reservation successful!</h1>
            <table class="table">
                <thead class="thead-dark">

                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Seat Number</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <th:block th:each="reservedSeat, iter : ${reservedSeats}">
                    <tbody>
                    <tr>
                        <th th:text="${iter.index+1}" scope="row">1</th>
                        <td th:text="${reservedSeat.seatNumber}">num</td>
                        <td th:text="${reservedSeat.price}">price</td>
                    </tr>

                    </tbody>
                </th:block>
                <thead class="thead-dark">

                <tr>
                    <th scope="col"></th>
                    <th scope="col">TOTAL</th>
                    <th th:text="${totalAmount}">total</th>
                </tr>
                </thead>
            </table>

            <button type="button" class="btn btn-secondary btn-lg" onclick="paymentSuccess()">Pay</button>

            <h6>If you don't make payment within 15 minutes, your reservation will be cancelled.</h6>
        </div>

    </div>
</div>
</div>
</body>
</html>